<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
         <div class="jumbotron" style="margin-top: 20%">
            <h1>„AHOJ{%- if komu is not none -%}, {{ komu.upper() }}{% endif %}“</h1>
             {%- if od is not none -%}<p>–{{ od.upper() }}</p>{% endif %}
         </div>
    </div>
</body>
</html>