<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Ahoj As A Service (AAAS)</title>
</head>
<body>
    <div class="container">
         <div class="jumbotron" style="margin-top: 20%">
             {%- if ver is not none -%}{{ ver }}{% endif %}
         </div>
    </div>
</body>
</html>